<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="sqlsvr" connectionString="Data Source=192.168.200.218;Initial Catalog=MPOWER;User ID=sa;Password=m46r93t317@%;" providerName="System.Data.SqlClient" />
    <add name="sqlsvrReal" connectionString="Data Source=192.168.200.193;Initial Catalog=real;User ID=sa;Password=g\key12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CloseStore" value="12,22,57,60,69,70,76,77,78,101,105,109,111,116,124,137,147,155,173,387" />
    <!-- ログファイル保存ディレクトリ -->
    <add key="log_directory_path" value="C:\real\log" />
    <!-- ログファイルID -->
    <add key="log_id" value="04" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>